<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlowSolver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FlowSolver.Properties.Settings>
            <setting name="ToolKey" serializeAs="String">
                <value>TdX2aWaU8HEsafKzHlkXjWx9gxZDvKH9SCm/33a40ksKvlCoDkDmYw==</value>
            </setting>
            <setting name="ProductionUploadUrl" serializeAs="String">
                <value>https://flowboards.azurewebsites.net/api/UploadFlow?code={toolKey}</value>
            </setting>
            <setting name="ProductionUploadResultsUrl" serializeAs="String">
                <value>https://flowboards.azurewebsites.net/api/query/{traceId}?code={toolKey}</value>
            </setting>
            <setting name="PreProductionUploadUrl" serializeAs="String">
                <value>https://flowpreproduction.azurewebsites.net/api/UploadFlow?code={toolKey}</value>
            </setting>
            <setting name="PreProductionUploadResultsUrl" serializeAs="String">
                <value>https://flowpreproduction.azurewebsites.net/api/query/{traceId}?code={toolKey}</value>
            </setting>
        </FlowSolver.Properties.Settings>
    </userSettings>
</configuration>